USE [master]
GO
/****** Object:  Database [osin]    Script Date: 5/8/2019 8:19:43 AM ******/
CREATE DATABASE [osin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'osin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\osin.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'osin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\osin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [osin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [osin]
GO
/****** Object:  Table [dbo].[congviec]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[congviec](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[madichvu] [nvarchar](50) NULL,
	[luong] [int] NULL,
	[mota] [nvarchar](50) NULL,
	[diadiem] [nvarchar](50) NULL,
	[ngayhethan] [nvarchar](50) NULL,
	[songuoi] [int] NULL,
	[sogio] [int] NULL,
	[makhachhang] [int] NULL,
 CONSTRAINT [PK_congviec1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dangkydichvu]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dangkydichvu](
	[macongviec] [int] NOT NULL,
	[maungvien] [int] NOT NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_dangkydichvu] PRIMARY KEY CLUSTERED 
(
	[macongviec] ASC,
	[maungvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dichvu]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dichvu](
	[madichvu] [nvarchar](50) NOT NULL,
	[tendichvu] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dichvu] PRIMARY KEY CLUSTERED 
(
	[madichvu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makhachhang] [int] NOT NULL,
	[tencongty] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[sodienthoai] [int] NULL,
	[diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taikhoan](
	[sodienthoai] [int] NOT NULL,
	[matkhau] [varchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[quyen] [int] NULL,
	[ngaysinh] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](50) NULL,
	[hoten] [nvarchar](50) NULL,
 CONSTRAINT [PK_taikhoan] PRIMARY KEY CLUSTERED 
(
	[sodienthoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ungvien]    Script Date: 5/8/2019 8:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ungvien](
	[maungvien] [int] NULL,
	[cmnd] [int] NOT NULL,
	[gioithieubanthan] [nvarchar](50) NULL,
	[madichvu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ungvien1] PRIMARY KEY CLUSTERED 
(
	[cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
