<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>timvieclam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>controller.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangChuNguoiDungServlet</display-name>
    <servlet-name>TrangChuNguoiDungServlet</servlet-name>
    <servlet-class>controller.TrangChuNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuNguoiDungServlet</servlet-name>
    <url-pattern>/TrangChuNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongTacVienServlet</display-name>
    <servlet-name>DanhSachCongTacVienServlet</servlet-name>
    <servlet-class>controller.DanhSachCongTacVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongTacVienServlet</servlet-name>
    <url-pattern>/DanhSachCongTacVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecCTVServlet</display-name>
    <servlet-name>DanhSachCongViecCTVServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecCTVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecCTVServlet</servlet-name>
    <url-pattern>/DanhSachCongViecCTVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecCTVServlet1</display-name>
    <servlet-name>DanhSachCongViecCTVServlet1</servlet-name>
    <servlet-class>controller.DanhSachCongViecCTVServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecCTVServlet1</servlet-name>
    <url-pattern>/DanhSachCongViecCTVServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NhanViecServlet</display-name>
    <servlet-name>NhanViecServlet</servlet-name>
    <servlet-class>controller.NhanViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanViecServlet</servlet-name>
    <url-pattern>/NhanViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CongViecDaNhanCTVServlet</display-name>
    <servlet-name>CongViecDaNhanCTVServlet</servlet-name>
    <servlet-class>controller.CongViecDaNhanCTVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CongViecDaNhanCTVServlet</servlet-name>
    <url-pattern>/CongViecDaNhanCTVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XacNhanHoanThanhCVServlet</display-name>
    <servlet-name>XacNhanHoanThanhCVServlet</servlet-name>
    <servlet-class>controller.XacNhanHoanThanhCVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XacNhanHoanThanhCVServlet</servlet-name>
    <url-pattern>/XacNhanHoanThanhCVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecKhachHangServlet</display-name>
    <servlet-name>DanhSachCongViecKhachHangServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecKhachHangServlet</servlet-name>
    <url-pattern>/DanhSachCongViecKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hosodanhan</display-name>
    <servlet-name>Hosodanhan</servlet-name>
    <servlet-class>controller.Hosodanhan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hosodanhan</servlet-name>
    <url-pattern>/Hosodanhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemDangKyDichVuServlet</display-name>
    <servlet-name>ThemDangKyDichVuServlet</servlet-name>
    <servlet-class>controller.ThemDangKyDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemDangKyDichVuServlet</servlet-name>
    <url-pattern>/ThemDangKyDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyTaiKhoanServlet</display-name>
    <servlet-name>DangKyTaiKhoanServlet</servlet-name>
    <servlet-class>controller.DangKyTaiKhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyTaiKhoanServlet</servlet-name>
    <url-pattern>/DangKyTaiKhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiNguoiDungServlet</display-name>
    <servlet-name>ThemMoiNguoiDungServlet</servlet-name>
    <servlet-class>controller.ThemMoiNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiNguoiDungServlet</servlet-name>
    <url-pattern>/ThemMoiNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiUngVienServlet</display-name>
    <servlet-name>ThemMoiUngVienServlet</servlet-name>
    <servlet-class>controller.ThemMoiUngVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiUngVienServlet</servlet-name>
    <url-pattern>/ThemMoiUngVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongtinUngVien</display-name>
    <servlet-name>ThongtinUngVien</servlet-name>
    <servlet-class>controller.ThongtinUngVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongtinUngVien</servlet-name>
    <url-pattern>/ThongtinUngVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThongtinKhachHang</display-name>
    <servlet-name>ThongtinKhachHang</servlet-name>
    <servlet-class>controller.ThongtinKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongtinKhachHang</servlet-name>
    <url-pattern>/ThongtinKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachNguoiDungServlet</display-name>
    <servlet-name>DanhSachNguoiDungServlet</servlet-name>
    <servlet-class>controller.DanhSachNguoiDungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachNguoiDungServlet</servlet-name>
    <url-pattern>/DanhSachNguoiDungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachDichVuServlet</display-name>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <servlet-class>controller.DanhSachDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <url-pattern>/DanhSachDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMoiDichVuServlet</display-name>
    <servlet-name>ThemMoiDichVuServlet</servlet-name>
    <servlet-class>controller.ThemMoiDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMoiDichVuServlet</servlet-name>
    <url-pattern>/ThemMoiDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachCongViecServlet</display-name>
    <servlet-name>DanhSachCongViecServlet</servlet-name>
    <servlet-class>controller.DanhSachCongViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachCongViecServlet</servlet-name>
    <url-pattern>/DanhSachCongViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaUngVienKhachHang</display-name>
    <servlet-name>XoaUngVienKhachHang</servlet-name>
    <servlet-class>controller.XoaUngVienKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaUngVienKhachHang</servlet-name>
    <url-pattern>/XoaUngVienKhachHang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaDichVuServlet</display-name>
    <servlet-name>SuaDichVuServlet</servlet-name>
    <servlet-class>controller.SuaDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaDichVuServlet</servlet-name>
    <url-pattern>/SuaDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaDichVuServlet</display-name>
    <servlet-name>XoaDichVuServlet</servlet-name>
    <servlet-class>controller.XoaDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaDichVuServlet</servlet-name>
    <url-pattern>/XoaDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nhanhoso</display-name>
    <servlet-name>Nhanhoso</servlet-name>
    <servlet-class>controller.Nhanhoso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nhanhoso</servlet-name>
    <url-pattern>/Nhanhoso</url-pattern>
  </servlet-mapping>
</web-app>